name: Test

on:
  push:
    branches:
    - next
  pull_request:
    branches:
    - next

jobs:
  test:
    runs-on: ubuntu-latest

    name: Test

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2.4.0

      - name: Install Node dependencies
        run: yarn --frozen-lockfile

      - run: yarn lint
      - run: yarn build

      - name: Test coverage
        run: yarn jest test/ --collectCoverage=true

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2.0.3
